backend:
  name: git-gateway
  branch: main

media_folder: "images" 
public_folder: "/images"

collections:
  - name: "test"
    label: "Test"
    folder: "content"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Content", name: "body", widget: "markdown" }
